.ipItem {
    background: #2b2d3a;
    border-radius: 14px;
    padding: 1rem 1.2rem;
    margin-bottom: 0.8rem;
    display: grid;
    grid-template-columns: 180px 1fr auto;
    gap: 0.8rem;
    align-items: center;
    font-size: 0.85rem;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    transition: background 0.2s ease, transform 0.12s ease-out;
}

.ipItem:hover {
    background: #333544;
    transform: translateY(-2px);
}

.ipLeft {
    display: flex;
    flex-direction: column;
    color: #50fa7b;
    font-weight: 600;
}

.ipAddress {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 0.9rem;
    color: #50fa7b;
}

.hostname {
    font-size: 0.75rem;
    color: #999;
    margin-top: 0.25rem;
    font-weight: 400;
    font-style: italic;
}

.ipMid {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #bbb;
    font-size: 0.8rem;
    flex: 1;
    flex-wrap: wrap;
    max-width: 1000px;
}

.flag {
    width: 24px;
    height: 16px;
    border-radius: 3px;
    overflow: hidden;
    flex-shrink: 0;
}

.ipRight {
    justify-content: flex-end;
    text-align: right;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
    width: 500px;
}

.statusTag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 24px;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 18px;
    color: #fff;
    min-width: 80px;
}

.blocked {
    background-color: #ef4444;
}

.clean {
    background-color: #22c55e;
}

.noInfo {
    background-color: #6b7280;
}

.abuseSuccess {
    background-color: #16a34a;
}

.abuseWarning {
    background-color: #facc15;
    color: #222;
}

.abuseDanger {
    background-color: #dc2626;
}

.pingSuccess,
.pingDanger {
    background-color: #4caf50; 
    width: auto;     
    min-width: unset;   
    padding: 0 10px;      
}

.pingDanger {
    background-color: #f87171;
}



.portOpen,
.portClosed {
    border-radius: 18px;
    padding: 0 8px;
    height: 24px;
    font-size: 0.7rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 2px;
}

.portOpen {
    background-color: #22c55e;
}

.portClosed {
    background-color: #ef4444;
}

@media (max-width: 1024px) {
    .ipItem {
        grid-template-columns: 1fr;
    }

    .ipRight {
        width: 100%;
        justify-content: flex-start;
    }
}

.trenner {
    margin: 0 0.3rem;
    color: #888;
    font-size: 0.7rem;
}
