version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: ip-server
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    command: npm run dev
    restart: unless-stopped

  client:
    build:
      context: ./client
    container_name: ip-client
    env_file:
      - ./client/.env
    ports:
      - "4000:80"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    restart: unless-stopped
