 textarea {
     background-color: #282a36;
     color: #f8f8f2;
     border: 1px solid #6272a4;
     resize: none;
     font-size: 1rem;
     border-radius: 0.5rem;
     min-height: 200px;
     width: 100%;
     padding: 25px;
     box-sizing: border-box;
     height: 450px;
 }